* {
    box-sizing: border-box;
}

body {
    background-color: #fbf6e9;
}

h1 {
    font-family: Georgia;
    font-size: 50px;
    color: #851708;
}

h2 {
    font-family: Cambria;
    color: #a3270f;
}

h3 {
    color: #a3270f;
}

p {
    font-family: Times;
}

table,
td,
tr {
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    margin: auto;
}

.img-responsive {
    max-width: 100%;
    max-height: 100%;
}

#instructions {
    max-width: 964px;
    padding: 8px 12px;
}

#checklist {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 300px;
}

.checkul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.checkul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkul li:nth-child(odd) {
    background: #f9f9f9;
}

.checkul li:hover {
    background: #ddd;
}

.checkul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.checkul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.header {
    background-color: #f44336;
    padding: 2px 30px;
    text-align: center;
}

.header:after {
    content: '';
    display: table;
    clear: both;
}

.collapsible {
    background: #888;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    transition: 0.2s;
    outline: none;
    padding: 12px 8px 8px 12px;
    width: 100%;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.active,
.collapsible:hover {
    background: #444;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}